---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik
  vikunja:

services:
  vikunja_db:
    image: "postgres:{{ vikunja.db_version }}"
    networks:
      - vikunja
    environment:
      POSTGRES_USER: vikunja
      POSTGRES_PASSWORD: "{{ lookup('password', './settings/passwords/vikunja_db_password chars=ascii_letters') }}"
    volumes:
      - "{{ volumes_root }}/vikunja/db:/var/lib/postgresql/data"
    restart: unless-stopped

{% set vikunja_service_name = "vikunja_api" %}
  vikunja_api:
    image: "vikunja/vikunja:{{ vikunja.api_version }}"
    networks:
      - traefik_network
      - vikunja
    environment:
      VIKUNJA_SERVICE_ENABLEREGISTRATION: "false"
      VIKUNJA_DATABASE_HOST: vikunja_db
      VIKUNJA_DATABASE_TYPE: postgres
      VIKUNJA_DATABASE_USER: vikunja
      VIKUNJA_DATABASE_DATABASE: vikunja
      VIKUNJA_DATABASE_PASSWORD: "{{ lookup('password', './settings/passwords/vikunja_db_password chars=ascii_letters') }}"
      PUID: {{ uid_output.stdout }}
      PGID: {{ gid_output.stdout }}
    volumes:
      - "{{ volumes_root }}/vikunja/files:/app/vikunja/files"
    depends_on:
      - vikunja_db
    restart: unless-stopped
    labels:
{% include './vikunja_labels.j2' %}
